@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

/* Import Bootstrap CSS */
@import 'bootstrap/dist/css/bootstrap.min.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Raleway', sans-serif;
  }
}


.card-image {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  border-radius: 15px;
  -webkit-box-shadow: 1rem 1rem #365b6d;
  box-shadow: 1rem 1rem #365b6d;
}

a.svg {
  position: relative;
  display: inline-block;
}

a.svg:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}



.cards {
  display: grid;
  grid-gap: 1em;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  align-items: start;
}

.cards .card .title {
  font-size: 24px;
  text-transform: uppercase;
}

.cards .card .card-thumbnail {
  position: relative;
  width: 100%;
  padding-top: 52.26%;
  background-size: cover;
  background-repeat: none;
  background-position: top center;
  cursor: pointer;
  transition: all 3s ease;
}

.cards .card .card-thumbnail .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.cards .card .card-thumbnail .overlay img {
  transform: translateX(-12%);
}

.cards .card .card-thumbnail:hover {
  background-position: bottom center;
}

.cards .btn-grp {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1em;
}

.wrapper{
  width: auto;
  position: relative;
  padding-left: 15px;
}

.wrapper::before{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 6;
    border-radius: 10px;
    width: 5px;
    height: 80%;
    background-color: PaleGoldenRod;
  }

/* Line clamp utilities */
.line-clamp-1 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
}

.line-clamp-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  line-clamp: 2;
}

.line-clamp-3 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
}

.line-clamp-4 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
}